[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-on-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
django-crispy-forms = "*"
crispy-forms-materialize = "*"

[dev-packages]

[requires]
python_version = "3.9"
