<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pupdates{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" defer>
    <link rel="stylesheet" href="{% static 'css/site.css' %}" defer>
  
</head>

<body class="card-panel deep-purple lighten-4">

{% comment %} Topnav bar code here {% endcomment %}
  <nav>
    <div class="nav-wrapper purple">
      <a href="{% url 'home' %}" class="brand-logo tooltipped purple" data-position='right' data-tooltip="Home">PUPDATES<i class="material-icons">home</i></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:dashboard' user.username %}" class='btn tooltipped purple lighten-1' data-position='bottom' data-tooltip="Dashboard"><i class="material-icons">dashboard</i></a></li>
        <li><a href="{% url 'accounts:newdog' user.username %}" class='btn tooltipped purple lighten-1' data-position='bottom' data-tooltip="Add Dog"><i class="material-icons">add</i></a></li>
        <li><a href="{% url 'chat:index' %}" class='btn tooltipped purple lighten-1' data-position='bottom' data-tooltip="Inbox"><i class="material-icons">inbox</i></a></li>
        <li><a href="{% url 'accounts:update' %}" class='btn tooltipped purple lighten-1' data-position='bottom' data-tooltip="Settings"><i class="material-icons">settings</i></a></li>
        <li><a href="{% url 'logout' %}" class='btn tooltipped purple lighten-1' data-position='bottom' data-tooltip="Logout"><i class="material-icons">exit_to_app</i></a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class='btn tooltipped purple lighten-1' data-position='bottom' data-tooltip="Login"><i class="material-icons">exit_to_app</i></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  {% comment %} Sidenav (mobile version) code here {% endcomment %}
  <ul class="sidenav purple lighten-2" id="mobile-demo">
        {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:dashboard' user.username %}"><i class="material-icons">dashboard</i>Dashboard</a></li>
        <li><a href="{% url 'accounts:newdog' user.username %}"><i class="material-icons">add</i>Add Dog to Profile</a></li>
        <li><a href="{% url 'chat:index' %}"><i class="material-icons">inbox</i>Inbox</a></li>
        <li><a href="{% url 'accounts:update' %}"><i class="material-icons">settings</i>Settings</a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}"><i class="material-icons">exit_to_app</i>Log In</a></li>
        {% endif %}
  </ul>

  <main>

  <div class="center card-panel deep-purple lighten-3">

    {% block content %}
    {% endblock %}

  </div>

  </main>

{% comment %} FOOTER CODE HERE {% endcomment %}
        <footer class="white page-footer">
          <div class="container">
            <div class="row">
              <div class="col l7 s12">
                <h5 class="purple-text">Earth's Most Puppy-Friendly Adoption Software</h5>
                <p class="purple-text text-lighten-4">Connecting responsibly bred puppies with loving homes since 2021.</p>
                <hr>
                  <a class="purple-text text-lighten-3" href="{% url 'breeders' %}">Breeders - </a> 
                  <a class="purple-text text-lighten-3" href="{% url 'blog' %}">Blog - </a> 
                  <a class="purple-text text-lighten-3" href="{% url 'about' %}">About - </a> 
                  <a class="purple-text text-lighten-3" href="{% url 'contact' %}">Contact - </a>
                  <a class="purple-text text-lighten-3" href="{% url 'pricing' %}">Pricing</a>
              </div>
              <div class="col l3 offset-l2 s12">
                <h5 class="purple-text">Pupdates</h5>
                <ul>
                  {% if user.is_authenticated %}
                  <li><a class="purple-text text-lighten-3" href="{% url 'accounts:dashboard' user.username %}">Dashboard</a></li>
                  <li><a class="purple-text text-lighten-3" href="{% url 'chat:index' %}">Pup Chat</a></li>
                  <li><a class="purple-text text-lighten-3" href="#!">Pupfiles(profiles)</a></li>
                  <li><a class="purple-text text-lighten-3" href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li><a class="purple-text text-lighten-3" href="{% url 'login' %}">Login</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
          <div class="purple footer-copyright">
            <div class="container">
            © 2021 Pupdates
            <a class="grey-text text-lighten-4 right" href="{% url 'home' %}">Home</a>
            </div>
          </div>
        </footer>


<script type="text/javascript" src="{% static 'js/site.js' %}"></script>
<script>
  M.AutoInit();
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, options);
  });
</script>

</body>

</html>