{% comment %} This page will be a dog detail/profile view {% endcomment %}

{% extends 'base.html' %}

{% load static %}

{% block title %}{{ dog.name|title }}'s Dashboard{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p><h3>{{ dog.name|title }}'s Pupdates Dashboard</h3></p>
  <div class='dog-num'>
  {% comment %} <p><h5>You have {% for dog in dogs %} {% if dog.breeder_id == user.id %} dog(s).</h5></p> {% endcomment %}
  <p><h5>You have {{ user.number_of_dogs }} registered dog(s).</h5></p>
  {% csrf_token %}
  <table>
      <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Breed</th>
        <th>Birthdate</th>
        {% comment %} <th>Age</th> {% endcomment %}
        <th>Weight</th>
        <th>Height</th>
      </tr>
      {% for dog in user.dogs.all %}
      <tr>
      {% comment %} <tr v-for="dog in dogs.results"> {% endcomment %}
        <td>{{ dog.name }}</td>
        {% comment %} <td>[[ dog.name ]]</td> {% endcomment %}
        {% comment %} <td><img :src='dog.photo' style="width: 30%; border-radius: 50%"></img></td> {% endcomment %}
        {% comment %} <td>[[ dog.breed ]]</td> {% endcomment %}
        <td>{{ dog.breed }}</td>
        {% comment %} <td>[[ dog.date_of_birth ]]</td> {% endcomment %}
        <td>{{ dog.date_of_birth }}</td>
        {% comment %} <td>[[ dog.weight ]]</td> {% endcomment %}
        {% comment %} <td>[[ dog.weight ]] pounds</td> {% endcomment %}
        <td>{{ dog.weight }} pounds</td>
        {% comment %} <td>[[ dog.height ]] inches</td> {% endcomment %}
        <td>{{ dog.height }} inches</td>
      </tr>
        {% endfor %}
  </table>
      <div id="page">
          <button @click="pageprev" id="page-prev" value="prev">Prev Page</button>
          - [[ current_page ]] -
          <button @click="pagenext" id="page-next" value="next">Next Page</button>
      </div>
  </div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large purple">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating purple lighten-4" href="{% url 'accounts:newdog' user.username %}"><i class="medium material-icons">add</i></a></li>
    <li><a class="btn-floating purple lighten-3" href="{% url 'inbox' %}"><i class="medium material-icons">inbox</i></a></li>
    <li><a class="btn-floating purple lighten-2" href="{% url 'accounts:update' %}"><i class="medium material-icons">settings</i></a></li>
    <li><a class="btn-floating purple lighten-1" href="{% url 'home' %}"><i class="medium material-icons">home</i></a></li>
  </ul>
</div>
  
{% else %}
  <p>You are not logged in</p>
  <a class="btn-floating btn-large purple pulse" href="{% url 'login' %}">Log In</a> |
  <a class="btn-floating btn-large indigo pulse" href="{% url 'signup' %}">Sign Up</a>
{% endif %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script>
  let app = new Vue({
    el: '.dog-num',
    delimiters: ['[[', ']]'],
    data: {
      dogs: [],
      csrf_token: "",
      current_page: '1',
      error: false,
    },
    methods: {
      loadDogs: function() {
        axios({
          method: 'get',
          url: '/dogs/',
          params: {
            page: this.current_page
          },
        }).then(response => {
          this.dogs = response.data
          this.error = false
        }).catch(error => {
            this.error = true
        });
      },
      pagenext: function() {
        if (this.error === true) {
          alert("You are on the last page.")
        } else {
           this.current_page++,
           this.loadDogs()
        }
      },
      pageprev: function() {
        if (this.current_page == 1) {
            alert("You are already on the first page.")
        } else {
            this.current_page--
        }
        this.loadDogs()
      },
    },
    created: function() {
      this.loadDogs()
    },
    mounted: function() {
      this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
    }
  })
</script>

{% endblock %}