{% extends 'base.html' %}

{% load static %}

{% block title %}Chat{% endblock %}

{% block content %}



<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    {% comment %} {% comment %} <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100" placeholder="Enter your message here."><br>
    <input id="chat-message-submit" type="button" value="Send"> {% endcomment %}
    {{ room_name|json_script:"room-name" }}
    <a href="{% url 'accounts:dashboard' user.username %}" class='btn tooltipped purple lighten-1' data-position='bottom' data-tooltip="Dashboard"><i class="material-icons">dashboard</i></a>
    

    {% comment %} start of bootsnippp {% endcomment %}
    <div>
    <div class="chat_window">
    <div class="top_menu">
    <div class="buttons">
    <div class="button close"></div>
    <div class="button minimize"></div>
    <div class="button maximize"></div>
    </div>
    <div class="title">Pup Chat with {{ room_name_json }}</div></div>
    <ul class="messages"></ul>
    <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
    <input class="message_input" placeholder="Type your message here..." />
    </div>
    <div class="send_message">
    <div class="icon"></div>
    <div class="text">Send</div>
    </div></div></div>
    <div class="message_template">
    <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
    <div class="text"></div></div></li></div>
    </div>

    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script>
        {% comment %} const roomName = JSON.parse(document.getElementById('room-name').textContent); {% endcomment %}

        var roomName = {{ room_name_json }};
        var username = {{ username }};

        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(e) {
            fetchMessages();
        }

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            if (data['command'] === 'messages') {
                for (let i=0; i<data['messages'].length; i++) {
                    createMessage(data['messages'][i]);
                }
            } else if (data['command'] === 'new_message'){
                createMessage(data['message']);
            }
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'new_message',
                'from': username
            }));
            messageInputDom.value = '';
        };

        function fetchMessages() {
            chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
        }

        function createMessage(data) {
            var author = message['author'];
            var msgListTag = document.createElement('li');
            var imgTag = document.createElement('img');
            var pTag = document.createElement('p');
            pTag.textContent = message.content;
            imgTag.src = 'static/images/winston.jpg';
            if (author === username) {
                msgListTag.className = 'sent';
            } else {
                msgListTag.className = 'replies';
            }
            msgListTag.appendChild(imgTag);
            msgListTag.appendChild(pTag);
            document.querySelector('#chat-log').appendChild(msgListTag);
        };

    </script>

    <script>
    (function () {
    var Message;
    Message = function (arg) {
        this.text = arg.text, this.message_side = arg.message_side;
        this.draw = function (_this) {
            return function () {
                var $message;
                $message = $($('.message_template').clone().html());
                $message.addClass(_this.message_side).find('.text').html(_this.text);
                $('.messages').append($message);
                return setTimeout(function () {
                    return $message.addClass('appeared');
                }, 0);
            };
        }(this);
        return this;
    };
    $(function () {
        var getMessageText, message_side, sendMessage;
        message_side = 'right';
        getMessageText = function () {
            var $message_input;
            $message_input = $('.message_input');
            return $message_input.val();
        };
        sendMessage = function (text) {
            var $messages, message;
            if (text.trim() === '') {
                return;
            }
            $('.message_input').val('');
            $messages = $('.messages');
            message_side = message_side === 'left' ? 'right' : 'left';
            message = new Message({
                text: text,
                message_side: message_side
            });
            message.draw();
            return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
        };
        $('.send_message').click(function (e) {
            return sendMessage(getMessageText());
        });
        $('.message_input').keyup(function (e) {
            if (e.which === 13) {
                return sendMessage(getMessageText());
            }
        });
        sendMessage('Hello, admin! :)');
//        setTimeout(function () {
//            return sendMessage('Hi Sandy! How are you?');
//        }, 1000);
//        return setTimeout(function () {
//            return sendMessage('I\'m fine, thank you!');
//        }, 2000);
    });
    }.call(this));
    </script>


</body>

{% endblock %}
